# Storage directory path for audio files.
# Specify the full path where audio files will be stored.
STORAGE_PATH="STORAGE DIRECTORY PATH"

# Log file
LOG_FILE="LOG FILE PATH"

# Log Level
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL="ERROR"

# Gunicorn worker count
# https://gunicorn.org/guides/docker/#environment-variables
# https://gunicorn.org/reference/settings/#workers
# Per the docs, set this in the range of 2-4 x $(NUM_CORES)
# Use "nproc" to show number of processing units
GUNICORN_WORKERS=4

# Gunicorn timeout
# https://gunicorn.org/guides/docker/#worker-timeout
# https://gunicorn.org/reference/settings/#timeout
# Expand if seeing "[CRITICAL] WORKER TIMEOUT" for large files
GUNICORN_TIMEOUT=30

# Host port number to map to container port 80
# Confirm it's exposed via firewall
HOST_PORT=80

# Number of partitions for correlation in the search for the exact moment of the audio.
# Adjust this value as needed to balance speed and accuracy.
NUM_PARTITIONS_CORRELATE=4