# Storage directory path for audio files.
# Specify the full path where audio files will be stored.
STORAGE_PATH="STORAGE DIRECTORY PATH"

# Log file
LOG_FILE="LOG FILE PATH"

# Log Level
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL="ERROR"

# Gunicorn worker count
# https://gunicorn.org/guides/docker/#environment-variables
# https://gunicorn.org/reference/settings/#workers
# Per the docs, set this in the range of 2-4 x $(NUM_CORES)
# Use "nproc" to show number of processing units
GUNICORN_WORKERS=4

# Gunicorn timeout
# https://gunicorn.org/guides/docker/#worker-timeout
# https://gunicorn.org/reference/settings/#timeout
# Expand if seeing "[CRITICAL] WORKER TIMEOUT" when storing large files
GUNICORN_TIMEOUT=30

# Host port number to map to container port 80
# Confirm it's exposed via firewall
HOST_PORT=80

# Number of matrix elements to process at a time during correlation
# Setting this too high can cause Gunicorn workers to run out of memory
# Pass "show=["total_execution_time"]" to /audio-detection endpoint
# to compare performance of different values
# Default value 5,300,000 uses partitions that are ~2 min long at 44.1 kHz sample rate
# Must be longer than the longest fragment to search for
MAX_PARTITION_SIZE=5300000